.DS_Store
.zed/**
.claude/**
.vscode/**
an-24rv_prefs.txt
KLNconfig.txt
plugins/an-24/data/output/SASLLog.txt
plugins/kln90b/data/output/SASLLog.txt
plugins/an-24/data/modules/state.txt
plugins/kln90b/data/modules/state.txt
plugins/an-24/data/modules/configuration/wprefs.ini
plugins/kln90b/data/modules/configuration/wprefs.ini
plugins/an-24/data/output/*.ini
plugins/an-24/data/output/black_box/*
!plugins/an-24/data/output/black_box/readme.txt
plugins/an-24/data/output/snapshots/*
!plugins/an-24/data/output/snapshots/readme.txt
plugins/an-24/data/output/an-24_lamps.ini